// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

.main-footer .footer-nav{
  a[href^="/open-data/download"] { 
    display: none; 
  }  
}

.floating-helper-container{
  display: none;
}

.navbar{
  background-color: #595959;
}

.open_close_status {
  .tag {
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    min-width: 78px;

    &.close {
      background-color: $red-tag;
    }

    &.open {
      background-color: $green-tag;
    }
  }
}

// Custom process nav to set mobile view in desktop
.custom-process-nav {
  padding: 0.75rem 1rem;

  .process-nav__content {
    display: none;
    
    li.is-active {
      display: none;
    }

    &.is-active {
      display: block;
    }
  }

  li {
    padding-left: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

// This is only for reptes.dca.cat
body[data-organization-id="1"] {
  .smart-catalonia-logo {
    display: none;
  }

  .logos {
    justify-content: center !important;
    gap: 300px;
  }

  .footer-feder {
    display: none;
  }
}

// This is only for agendaruralcat.cat
body[data-organization-id="5"] {
  .footer-feder,
  .custom-footer {
    display: none;
  }
}
