@import "decidim/application";

.main-footer .footer-nav{
  a[href^="/open-data/download"] { 
    display: none; 
  }  
}

.floating-helper-container{
    display: none;
}

.navbar{
  background-color: #595959;
}
